{% extends "/partials/article.html" %}
{% block heading %}About me{% endblock %}
{% block article_content %}
<div id="about" class="is-flex-direction-column">
  <div class="column p-2">
    I am experienced in data visualization (Tableau/Power BI/Apache Superset), predictive analysis, statistical modeling
    and machine learning algorithms. I supervise the model development (Tensorflow), testing and validation of all our
    products and services.
  </div>
  <div class="column p-2">
    <p>In addition, outside of data science, my skills include backend development and DevOps.</p>
    <p>
      At PayFinTech, I am responsible for leading the development of a high-load web scraping and analytics web service
      that offers Central Bank insights to daily inflation dynamics.
    </p>
    <p>
      I oversee the building and delivery of innovative systems architecture via Docker Swarm and Django framework,
      HTML5, CSS3/SASS, Javascript/Vue, Postgres, GrayLog2, and Redis.
    </p>
  </div>
  <div class="column p-2">
    I tend to view myself as a generalist since I try not to focus on any given technology. I have been exposed to a
    wide variety of technologies in my career and consider myself to be very adaptable. Because of my breadth of
    experience I believe that I would make an excellent addition to your team.
  </div>
  <div class="column p-2">Programming languages:</div>
  <div class="content p-2 mb-0">
    <ul class="mt-0">
      <li>Python (Django Rest Framework), R (Tidyverse), SQL, Java (easily adaptable and can quickly learn another)</li>
    </ul>
  </div>
  <div class="column p-2">Big Data:</div>
  <div class="content p-2 mb-0">
    <ul class="mt-0">
      <li>PostgreSQL, MySQL, MongoDB, Redis, Neo4j, Hadoop</li>
    </ul>
  </div>
  <div class="column p-2">Logging/monitoring:</div>
  <div class="content p-2 mb-0">
    <ul class="mt-0">
      <li>GrayLog2, Grafana, Prometheus</li>
    </ul>
  </div>
  <div class="column p-2">Other:</div>
  <div class="content p-2 mb-0">
    <ul class="mt-0">
      <li>Amazon Web Services (AWS), Yandex Cloud</li>
    </ul>
  </div>
  <div class="column p-2">Motto:</div>
  <div class="content p-2 mb-0">
    <ul class="mt-0">
      <li>Learn something new every day!</li>
    </ul>
  </div>
</div>
{% endblock %}
