{% extends "/partials/article.html" %} {% block heading %}Resume{% endblock %} {% block article_content %}
<div class="columns">
  <div class="column is-one-quarter">May&nbsp;2021 — currently</div>
  <div class="column">
    <div class="resume-block-container">
      <div class="bloko-text bloko-text_strong">
        <h1>Payment and Financial Technologies Development Center</h1>
      </div>
      <p>Nur-Sultan, <a class="resume__experience-url" href="https://payfintech.kz/">payfintech.kz/</a></p>
      <div class="resume-block__experience-industries resume-block_no-print"></div>
      <div data-qa="resume-block-experience-position" class="bloko-text bloko-text_strong">
        <span>Software Engineer | Data Scientist</span>
      </div>
      <div data-qa="resume-block-experience-description">
        <span
          >● Developed the software architecture for a large scale web parsing application with the scalable design
          using the Docker Swarm cluster, Selenoid and centralized logging with Graylog.<br />● Developed a web
          application in the form of a dashboard on VueJS which shows daily inflation across cities/categories/markets.
          This is an innovative way of estimating the inflation and is highly used for inflation targeting at the
          Central Bank of Kazakhstan.<br />● Developed an innovative classifier for anomalous transactions for the
          real-time gross settlement (RTGS) system based on the state-of-the-art Graph Analysis. Implemented using the
          state-of-the-art Node2Vec graph representations, PCA and anomaly detection algorithms such as Extended
          Isolation Forest, Local Outlier Factor etc. Developed a dashboard with graph visualizations using VisJS and
          pyvis.<br />● Developed an innovative high-frequency GDP tracker based on the real-time gross settlement
          (RTGS) transactions.</span
        >
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    April&nbsp;2021 — <span class="resume-block__experience-mount-last">May</span>&nbsp;2021
    <div class="bloko-text bloko-text_tertiary"><span>2&nbsp;months</span></div>
  </div>
  <div class="column">
    <div class="resume-block-container">
      <div class="bloko-text bloko-text_strong"><span>First Heartland Jysan Bank</span></div>
      <p>Almaty, <a class="resume__experience-url" href="https://jusan.kz/">jusan.kz/</a></p>
      <div class="resume-block__experience-industries resume-block_no-print"></div>
      <div data-qa="resume-block-experience-position" class="bloko-text bloko-text_strong">
        <span>Data Scientist</span>
      </div>
      <div data-qa="resume-block-experience-description">
        <span
          >● Development of client segmentation based on the unsupervised learning algorithms K-means, K-prototypes. PCA
          analysis of client attributes.</span
        >
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    February&nbsp;2021 — <span class="resume-block__experience-mount-last">April</span>&nbsp;2021
    <div class="bloko-text bloko-text_tertiary"><span>3&nbsp;months</span></div>
  </div>
  <div class="column">
    <div class="resume-block-container">
      <div class="bloko-text bloko-text_strong">
        <a class="bloko-link bloko-link_kind-tertiary" href="/employer/25880?hhtmFrom=resume"
          ><span>Kaspi Bank, АО</span></a
        >
      </div>
      <p>Almaty, <a class="resume__experience-url" href="http://www.kaspibank.kz">www.kaspibank.kz</a></p>
      <div class="resume-block__experience-industries resume-block_no-print">
        <p>
          <span>Financial Sector</span
          ><span class="resume-industries__open"
            ><span class="bloko-text bloko-text_small bloko-text_secondary">... Show more</span></span
          >
        </p>
      </div>
      <div data-qa="resume-block-experience-position" class="bloko-text bloko-text_strong">
        <span>Data Scientist</span>
      </div>
      <div data-qa="resume-block-experience-description">
        <span
          >● A/B testing and evaluation of marketing campaigns.<br />● CRM analysis using SAS Enterprise Guide (mostly
          for decision making using SQL).<br />● Development of recommendation systems based on the CRM data and user
          behaviour patterns.</span
        >
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">
    March&nbsp;2018 — <span class="resume-block__experience-mount-last">March</span>&nbsp;2019
    <div class="bloko-text bloko-text_tertiary"><span>1&nbsp;year</span> <span>1&nbsp;month</span></div>
  </div>
  <div class="column">
    <div class="resume-block-container">
      <div class="bloko-text bloko-text_strong">
        <a class="bloko-link bloko-link_kind-tertiary" href="/employer/734745?hhtmFrom=resume"
          ><span>Nazarbayev University</span></a
        >
      </div>
      <p>Nur-Sultan, <a class="resume__experience-url" href="http://www.nu.edu.kz">www.nu.edu.kz</a></p>
      <div class="resume-block__experience-industries resume-block_no-print">
        <p>
          <span>Educational Institutions</span
          ><span class="resume-industries__open"
            ><span class="bloko-text bloko-text_small bloko-text_secondary">... Show more</span></span
          >
        </p>
      </div>
      <div data-qa="resume-block-experience-position" class="bloko-text bloko-text_strong">
        <span>Data Scientist | ML Researcher</span>
      </div>
      <div data-qa="resume-block-experience-description">
        <span
          >● Developed a face recognition system using Python, which checks the similarity of a person with his<br />photo,
          based on the existing image of this person in the database.<br />● Reaching 98% accuracy rate, the system was
          implemented using advanced technologies such as IoT, Cloud Computing (EC2) and Storage (S3) using Amazon web
          services.</span
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
