<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1>Aidos Kanapyanov</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('about') }}"> about </a>

      <a class="navbar-item" href="{{ url_for('resume') }}"> resume </a>

      <a class="navbar-item" href="{{ url_for('projects') }}"> projects </a>

      <a class="navbar-item" href="{{ url_for('stats') }}"> stats </a>

      <a class="navbar-item"> contact </a>
    </div>
  </div>
</nav>
